.AboutMe {
    padding-bottom: 5%;
    padding-top: 3%;
}

#pictureBorder {
    padding: 1% 5% 2% 9%;
    width: 100%;
    min-width: 300px;
}

#appHeader {
    text-align: center;
    font-size: 50px;
    padding-bottom: 1%;
}

#appSubHeader {
    text-align: center;
}