.ContactMe {
    padding-top: 10%;
    padding-bottom: 30%;
}

.otherContactRow {
    margin-top:30px;
    margin-bottom: 30px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.contactMeLine {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}


.linkStyle:hover {
    color: rgb(red, green, blue);
}

.linkStyle {
    text-decoration: none;
    color: inherit;
}
