.companyName {
    font-weight: bold;
    padding-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.positionName {
    font-style: italic;
}

.experienceSpacing {
    padding-top: 5%;
}

.experienceContainer {
    padding: 25px;
}


.bulletStyle > ul li:before {
    list-style-type: circle;
    font-size: 150%;
    padding-right: 5px;
 }

 .bulletStyle > ul li ul li:before {
    list-style-type: circle;
    font-size: 90%;
    padding-right: 5px;
 }


 ui li {
    list-style-position: outside !important;
 }

 
