.companyName {
    font-weight: bold;
    padding-left: 15px;
}

.positionName {
    font-style: italic;
}

#downloadResume {
    margin-left: 20%;
}

.Experiences {
    min-height: 1000px;
}

.boxBorder {
    border: 10px silver ridge;
    border-radius: 15px;
    padding: 5px;
}

.experienceSpacing {
    padding-top: 5%;
}
