.header {
    position:fixed; 
    margin-left: -17%; /* Bad practice, however I couldn't get the nav bar to align to the left without the negative sign */
    margin-top: 17%;
}
html {
    scroll-behavior: smooth;
}

a { 
    color: #0004ff;
    text-decoration: none;
} 