.imageSpacing  {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.projectSpacing {
    width: 60%;
    margin-Left: auto;
    margin-right: auto;
}


.projectBorder {
    border: 1px black solid ;
    padding: 5px;
}

.Projects {
    padding-top: 5%;
    display: 'flex';
    min-width: 300;
    flex-wrap: wrap;
    width: 100%;
}