.imageSpacing  {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.projectSpacing {
    width: 60%;
    margin-Left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}


.projectBorder {
    border: 1px black solid ;
    padding: 5px;
}

.Projects {
    padding-top: 2%;
    display: 'flex';
    flex-wrap: wrap;
}