.headerStyle { /* Used to set the same height since height has multiple lines*/
    padding-bottom:10px;
}

.SkillSet {
    max-width: 150px;
}

#skillsPadding {
    padding-bottom: 3%;
}

.alignSkills {
    padding-left: 10%;
}

.noBullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skillTitle {
    width: 60%;
}

.skill {
    float: right;
}

.listStyle {
    width: 80%;
    display: inline-block;
}


/* .skill ul > li .skillTitle {
    display: inline-block;
    width: 60%;
} */