.App {
  font-family: "Quicksand", sans-serif !important;
}

.sectionTitle {
  text-align: center;
  color:#9f496e;
}

.horizontalLine {
  color: silver;
  background-color: silver;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.sectionLine {
  color: silver;
  background-color:silver;
  height: 1px;
}

.lightBackground {
  width: 100%;
  background-color: #f7f4ef;
}

.blueBackground {
  width: 100%;
  background-color: #94a7ae;
}

.magentaBackground {
  width: 100%;
  background-color: #9f496e;
}

.containerStyle {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 1280px;
  min-width: 280px;
  padding: 5% 10%;
}
